---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=geometry/location,formatted_address,name&input=RyansHouse&inputtype=textquery&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "formatted_address" : "110 W Muhammad Ali Way, Phoenix, AZ 85013, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 33.4814658,
                       "lng" : -112.0756437
                    }
                 },
                 "name" : "Ryan House | Hospice of the Valley"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 16 Mar 2020 14:28:27 GMT
recorded_with: VCR 5.1.0
